<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>
		{{> header}}
		<p>{{screamIt 'Some description about this page.'}}</p>

		{{> footer}}
	</body>
</html>
